@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-neutral-500;
}

h1 {
    @apply text-4xl font-bold;
}

.sans-serif {
    font-family: "Open Sans", sans-serif
}

.condensed {
    font-stretch: condensed;
}

.semi-condensed {
    font-stretch: semi-condensed;
}

.text-title {
    @apply condensed font-bold text-neutral-800;
}

/*Buttons*/
.button-admin-primary {
    @apply bg-astral-500 border-astral-600 flex items-center justify-center gap-2 border px-5 py-2 font-normal leading-none text-white hover:bg-astral-600 hover:border-astral-700;
}
/*Text input control*/
.text-input input {
    @apply animated-border box-border h-8 w-full appearance-none border border-neutral-300 px-3 text-sm text-neutral-800 placeholder-neutral-500 outline-none hover:border-neutral-500 focus:outline-none;
}

.button-info {
    @apply flex justify-center items-center px-1 border border-info-400 rounded appearance-none text-white outline-none bg-info-400 hover:bg-info-500 hover:border-info-400 focus:outline focus:outline-offset-1 focus:outline-info-400 group-hover:border-info-500;
    transition: 0.2s;
}

.button-green {
    @apply flex justify-center items-center px-1 border border-green-500 rounded appearance-none text-white outline-none bg-green-500 hover:bg-green-600 hover:border-green-400 focus:outline focus:outline-offset-1 focus:outline-green-500 group-hover:border-green-600;
    transition: 0.2s;
}

.button-outline {
    @apply flex justify-center items-center text-center align-middle px-1 border border-neutral-300 rounded appearance-none text-neutral-800 outline-none hover:border-neutral-500 focus:outline focus:outline-offset-0 focus:outline-info-400 group-hover:border-neutral-500;
    transition: 0.2s;
}

.button-next-to-input {
    @apply flex justify-center items-center w-[30px] h-[30px] border border-neutral-300 rounded appearance-none text-neutral-800 outline-none hover:border-neutral-500 focus:outline focus:outline-offset-0 focus:outline-info-400 group-hover:border-neutral-500;
    transition: 0.2s;
}

/*Animation of border bottom of input controls*/
.animated-border {
    @apply from-astral-500 to-astral-500 bg-gradient-to-b bg-bottom bg-no-repeat;
    background-size: 0% 1px;
    transition: 0.2s;
}

    .animated-border:focus {
        @apply border-b-astral-500;
        background-size: 100% 1px;
    }

    .animated-border:hover:focus {
        @apply border-b-astral-500;
    }

/*To change icons to filled design*/
.material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1
}
/*To change the weight of outlines to bold*/
.material-symbols-outlined.bold {
    font-variation-settings: 'wght' 600
}

/*Side bar items styling*/
.nav-item {
    @apply flex w-full items-center gap-2 px-5 py-3 hover:bg-info-400 hover:text-white;
}

.active .nav-item {
    @apply bg-info-400 text-white;
}

.procuct-filter-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

.procuct-filter-grid-key-active {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.composite-text-color {
    @apply text-violet-400;
}

.composite-bg-color {
    @apply bg-violet-400;
}

.composite-border-color {
    @apply border-violet-400;
}

.composite-gratis-text-color {
    @apply text-fuchsia-400;
}

.composite-gratis-bg-color {
    @apply bg-fuchsia-400;
}

.composite-gratis-border-color {
    @apply border-fuchsia-400;
}

.badges-list .e-listbox-container .e-list-item {
    @apply !h-20 !p-0;
}

.gallery-list .e-listbox-container .e-list-item {
    @apply !h-60 !p-0;
}
/*Sf carousel navigation and indicators style*/
.e-carousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar .e-indicator div {
    @apply !bg-neutral-300 !w-2 !h-2 !border-0;
}

.e-carousel .e-carousel-indicators.e-default .e-indicator-bar.e-active .e-indicator div {
    @apply !bg-green-500 !w-2 !h-2;
}

.e-carousel .e-carousel-indicators {
    @apply !bottom-auto !min-h-0;
}

    .e-carousel .e-carousel-indicators.e-default .e-indicator-bar.e-active .e-indicator div {
        @apply !w-2 !h-2 !border-0;
    }

    .e-carousel .e-carousel-indicators.e-default .e-indicator-bars .e-indicator-bar .e-indicator {
        @apply !border-0;
    }

        .e-carousel .e-carousel-indicators.e-default .e-indicator-bars .e-indicator-bar .e-indicator div {
            @apply !w-2 !h-2 !border-0;
        }

/*Colors for discount, promo and composite item accents*/
.set-text-color {
    @apply text-pink-400;
}

.set-bg-color {
    @apply bg-pink-400;
}

.set-border-color {
    @apply border-pink-400;
}

.composite-text-color {
    @apply text-violet-400;
}

.composite-bg-color {
    @apply bg-violet-400;
}

.composite-border-color {
    @apply border-violet-400;
}

.composite-gratis-text-color {
    @apply text-fuchsia-400;
}

.composite-gratis-bg-color {
    @apply bg-fuchsia-400;
}

.composite-gratis-border-color {
    @apply border-fuchsia-400;
}

.discount-text-color {
    @apply text-red-600;
}

.discount-bg-color {
    @apply bg-red-600;
}

.discount-border-color {
    @apply border-red-600;
}


/* indicator from admin brands  to stop  animation but leave border*/
.e-tab .e-tab-header:not(.e-vertical) .e-indicator {
    @apply !transition-none;
}
